h2 {
    color: rgb(250, 162, 11)
}

h3 {
    font-style: italic;
    font-weight: bolder;
}

#header {
    background-color: lightgray;
    text-align: center;
    border-bottom: medium solid rgb(250, 162, 11);
}

#text {
    padding-left: 15px;
}

body {
    width: 955px;
    margin-left: auto ;
    margin-right: auto;
    margin-top: 0px; 
}

footer {
    text-align: center;
}