h2 {
    color: rgb(250, 162, 11)
}

h3 {
    font-style: italic;
    font-weight: bolder;
}

header {
    background-color: lightgray;
    text-align: center;
    border-bottom: medium solid rgb(250, 162, 11);
}

main {
    padding-left: 15px;
}

#corpo {
    width: 55%;
    margin-left: auto ;
    margin-right: auto;
    margin-top: 0px; 
}

footer {
    text-align: center;
}

hr{
    height:1px;
    border-width:0;
    color:rgb(250, 162, 11);
    background-color:rgb(250, 162, 11);
}